################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.github/workflows/feedbackbotdgittest1.yml
/.vs
/src/Functions/Properties/serviceDependencies.copilotfeedback-function-ag - Zip Deploy.json
__azurite*
/Teams App/*.zip
src/Web/Properties/ServiceDependencies/copilotfeedback-ag - Web Deploy/*.*
src/Functions/Properties/ServiceDependencies/copilotfeedback-function-ag - Zip Deploy/*.*
/deploy/ARM/FeedbackBot/parameters.json
/deploy/InstallConfig.json
/.vscode
/deploy/ARM/parameters.json
/Teams App/manifest.json
/src/Web/web.client/dist
/src/Web/web.client/.env.development
/src/Web/web.client/.vite/deps_temp_b4646597
